<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>




		<div id="main-wrapper1">
									<div class="slider-frame">
										<div class="slide-images">
											<div class="img-container">
												<img src="static/images/IMG_6968.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_4139.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_5747.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_6950.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_5973.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_6671.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_5755.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_6418.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_4136.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_3514.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_6959.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_6958.jpg" width="378.125" height="504">
											</div>
											<div class="img-container">
												<img src="static/images/IMG_3702.jpg" width="378.125" height="504">
											</div>
										</div>
									</div>
								</div>